{% extends "infos/base.html" %}
{% load static %}

{% block title %}Portfolio - Me{% endblock %}

{% block content %}
    <h1>About me</h1>
    <img class="avatar" src="{% static 'infos/img/avatar.png' %}" alt="My photo">
    <p>
        Hi, I'm a software developer who loves turning ideas into working code.
        I started out tinkering with small Python scripts and have since worked
        my way through web development with Flask and Django, databases, testing
        and data visualization.
    </p>
    <p>
        Outside of code, I enjoy hiking, board games, and terrible puns.
    </p>
    <p><a href="{% url 'home' %}">&larr; Back to home</a></p>
{% endblock %}
