{% extends "base.html" %}

{% block title %}{{ author.name }}{% endblock %}

{% block content %}
    <h1>{{ author.name }}</h1>

    <h2>Books by this author</h2>
    <ul class="list-group mb-3">
        {% for book in author.books.all %}
            <li class="list-group-item">
                <a href="{% url 'books:book_details' pk=book.pk %}">{{ book.title }}</a>
            </li>
        {% empty %}
            <li class="list-group-item">No books yet.</li>
        {% endfor %}
    </ul>

    <p><a href="{% url 'books:authors_list' %}">&larr; Back to authors</a></p>
{% endblock %}
